<%- include ('partials/header.ejs') %>
<body>
    <div class="container align-items-center">

        <div class="d-flex justify-content-end ">
            <div class="form-group py-3">
            <form class="d-flex "action="/detail" method="GET">
                <input class="form-control form-control-sm me-2" type="search" name="VIN" placeholder="Search by VIN" aria-label="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            </div>
        </div>
    </div>
    
    <%if (noVehicleFound==true) { %>
    <div class="container align-items-center">
        <p class="text-center p-5">No vehicle found, please search by VIN.</p>
    </div>
    <% } else {%>
    <div class="container align-items-center">
        <img src= "/assets/img/WDDWJ6EBXKF802436.jpeg" class="rounded mx-auto d-block pt-1 pb-3" alt="/assets/img/WDDWJ6EBXKF802436.jpeg">
    </div>
    <div class="container align-items-center">
        <table class="table table-sm w-75 table-borderless mx-auto p-3">
            <thead>
                <tr>
                <th scope="col" colspan="2"><h3><%= vehicle.model_year %> <%= vehicle.manufacturer %> <%= vehicle.model_name %></h3></th>
                </tr>
                
            </thead>
        <tbody>
            <tr>
                <td class="text-black-50">VIN</td>
                <td><%= vehicle.VIN %></td>
                <td class="text-black-50">Type</td>
                <td><%= vehicle.vehicle_type%></td>
            </tr>
            <tr>
                <td class="text-black-50">Make</td>
                <td><%= vehicle.manufacturer %></td>
                <td class="text-black-50">Transmission</td>
                <td><%= vehicle.transmission %></td>
            </tr>
            <tr>
                <td class="text-black-50">Model</td>
                <td><%= vehicle.model_name %></td>
                <td class="text-black-50">Drive Type</td>
                <td><%= vehicle.drive_type %></td>
            </tr>
            <tr>
                <td class="text-black-50">Trim</td>
                <td><%= vehicle.trim %></td>
                <td class="text-black-50">Odormeter</td>
                <td><%= vehicle.ordermeter_reading %></td>
            </tr>

            <tr>
                <td class="text-black-50">Year</td>
                <td><%= vehicle.model_year %></td>
                <td class="text-black-50">Color</td>
                <td><%= vehicle.color %></td>
            </tr>

            <tr>
                <td class="text-black-50">Style/Body</td>
                <td><%= vehicle.style_body %></td>
                <td class="text-black-50">Seating</td>
                <td><%= vehicle.seats %></td>
            </tr>
            <tr>
                <td class="text-black-50">Engine</td>
                <td><%= vehicle.engine %></td>
                <td class="text-black-50">MSRP</td>
                <td>$<%= vehicle.invoice_price %></td>
            </tr>

        </tbody>
        </table>
    </div>
    
    <div class="container align-items-center">
        <table class="table table-sm w-75  table-borderless mx-auto">
        <% for (const property in typeDetail)  { %>
            <% if (property != 'VIN') {%>
            <tr> 
            <td class="text-capitalize text-black-50"><%= property.replace(/_/g, " ") %></td>
            <td class="text-capitalize"><%= typeDetail[property] %></td>
          
            </tr>
            <% }%>
        <% }%>
        </table>
    </div>
    
    <%if( loginStatus== true && sales.length>0 ){  %>
        <div class="container align-items-center">
            <table class="table table-sm w-75 table-borderless mx-auto p-3">
            <thead>
                <tr>
                <th scope="col" colspan="2"><h3>Sales Record</h3></th>
                </tr>
            </thead>
            <% sales.forEach((saleRecord, index) => { %>
            <tbody>
                <tr><td class="text-capitalize text-black-50">Sold Date:</td>
                    <td><%= saleRecord.sold_date %></td></tr>
    
                <tr><td class="text-capitalize text-black-50">Sales Rep:</td>
                    <td><%= saleRecord.username %></td></tr>
    
                <tr><td class="text-capitalize text-black-50">Sold Price:</td>
                    <td><%= saleRecord.sold_price %></td></tr>
    
                <tr><td class="text-capitalize text-black-50">Customer Name:</td>
                    <td><%= saleRecord.first_name + ' '+saleRecord.last_name  %></td></tr>
    
                <tr><td class="text-capitalize text-black-50">Customer Email:</td>
                    <td><%= saleRecord.email  %></td></tr>
    
            </tbody>
            </table>
            <%}) %>
        <p class="text-center p-5"> <a href="/service/<%= vehicle.VIN %>" >Service Request</a></p>
        
        <% }else if( loginStatus== true && sales.length==0){ %>
            <p class="text-center p-5"> <a href="/sales/<%= vehicle.VIN %>" >Sale this vehicle</a></p>
        </div>
        <% }%> 
    <% if ( loginStatus== true && services.length > 0) { %>
        <div class="container align-items-center">
            <table class="table table-sm w-75 table-borderless mx-auto p-3">
                <thead>
                    <tr>
                    <th scope="col" colspan="2"><h3>Service Record</h3></th>
                    </tr>
                </thead>
                <% services.forEach((service, index) => { %>
                <tbody>
                    <tr>
                        <td class="text-black-50">Customer </td>
                        <td><%= service.first_name %>  <%= service.last_name %> </td>
                        
                    </tr>
                    <tr>
                        <td class="text-black-50">Start Date</td>
                        <td><%= service.startdate %></td>
                        <td class="text-black-50">Completion Date</td>
                        <td><%= service.completiondate %></td>
                    </tr>
                    <tr>
                        <td class="text-black-50">Odormeter Reading</td>
                        <td><%= service.odometer_reading %></td>
                        <td class="text-black-50">Labor Charge</td>
                        <td><%= service.labor_charge %></td>
                    </tr>
                    <tr>
                        <td class="text-black-50">Repair Description</td>
                        <td scope="col" colspan="2"><%= service.repair_description %></td>
                    </tr>
                </tbody>
                        
                <% })}}%>
            </table>
        </div>

</body>

<footer></footer>

</html>

